<ul class="broadcasts__list">
  <li class="broadcasts__li">
    <article class="broadcasts__item">
      <div class="broadcasts__item-img-container">
        <img src="<%= require('./broadcast_1.webp') %>" alt="" width="255" height="148" loading="lazy" class="broadcasts__item-img">
      </div>
      <div class="broadcasts__item-content-wrapper">
        <div class="broadcasts__item-info-wrapper">
          <h3 class="broadcasts__item-title">О&nbsp;людях и&nbsp;книгах</h3>
          <span class="broadcasts__item-schedule">Анонсируется отдельно</span>
        </div>
        <a href="#" class="broadcasts__item-link">
          Подробнее
          <svg class="broadcasts__item-link-arrow-svg" width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="broadcasts__item-link-arrow-svg-path" d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z" fill="var(--text-color-primary)"/>
          </svg>
        </a>
      </div>
    </article>
  </li>
  <li class="broadcasts__li">
    <article class="broadcasts__item">
      <div class="broadcasts__item-img-container">
        <img src="<%= require('./broadcast_2.webp') %>" alt="" width="255" height="148" loading="lazy" class="broadcasts__item-img">
      </div>
      <div class="broadcasts__item-content-wrapper">
        <div class="broadcasts__item-info-wrapper">
          <h3 class="broadcasts__item-title">Графомания&nbsp;td</h3>
          <span class="broadcasts__item-schedule">
            По понедельникам в
            <time datetime="10:00"> 10:00</time>
          </span>
        </div>
        <a href="#" class="broadcasts__item-link">
          Подробнее
          <svg class="broadcasts__item-link-arrow-svg" width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="broadcasts__item-link-arrow-svg-path" d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z" fill="var(--text-color-primary)"/>
          </svg>
        </a>
      </div>
    </article>
  </li>
  <li class="broadcasts__li">
    <article class="broadcasts__item">
      <div class="broadcasts__item-img-container">
        <img src="<%= require('./broadcast_3.webp') %>" alt="" width="255" height="148" loading="lazy" class="broadcasts__item-img">
      </div>
      <div class="broadcasts__item-content-wrapper">
        <div class="broadcasts__item-info-wrapper">
          <h3 class="broadcasts__item-title">Не&nbsp;Рим, не&nbsp;Троя</h3>
          <span class="broadcasts__item-schedule">
            По вторникам в
            <time datetime="12:00"> 12:00</time>
          </span>
        </div>
        <a href="#" class="broadcasts__item-link">
          Подробнее
          <svg class="broadcasts__item-link-arrow-svg" width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="broadcasts__item-link-arrow-svg-path" d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z" fill="var(--text-color-primary)"/>
          </svg>
        </a>
      </div>
    </article>
  </li>
  <li class="broadcasts__li">
    <article class="broadcasts__item">
      <div class="broadcasts__item-img-container">
        <img src="<%= require('./broadcast_4.webp') %>" alt="" width="255" height="148" loading="lazy" class="broadcasts__item-img">
      </div>
      <div class="broadcasts__item-content-wrapper">
        <div class="broadcasts__item-info-wrapper">
          <h3 class="broadcasts__item-title">Эрудит</h3>
          <span class="broadcasts__item-schedule">
            По пятницам в
            <time datetime="17:00"> 17:00</time>
          </span>
        </div>
        <a href="#" class="broadcasts__item-link">
          Подробнее
          <svg class="broadcasts__item-link-arrow-svg" width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="broadcasts__item-link-arrow-svg-path" d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z" fill="var(--text-color-primary)"/>
          </svg>
        </a>
      </div>
    </article>
  </li>
  <li class="broadcasts__li">
    <article class="broadcasts__item">
      <div class="broadcasts__item-img-container">
        <img src="<%= require('./broadcast_5.webp') %>" alt="" width="255" height="148" loading="lazy" class="broadcasts__item-img">
      </div>
      <div class="broadcasts__item-content-wrapper">
        <div class="broadcasts__item-info-wrapper">
          <h3 class="broadcasts__item-title">Тонкости эпох</h3>
          <span class="broadcasts__item-schedule">
            По субботам в
            <time datetime="10:00"> 10:00</time>
          </span>
        </div>
        <a href="#" class="broadcasts__item-link">
          Подробнее
          <svg class="broadcasts__item-link-arrow-svg" width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="broadcasts__item-link-arrow-svg-path" d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z" fill="var(--text-color-primary)"/>
          </svg>
        </a>
      </div>
    </article>
  </li>
  <li class="broadcasts__li">
    <article class="broadcasts__item">
      <div class="broadcasts__item-img-container">
        <img src="<%= require('./broadcast_6.webp') %>" alt="" width="255" height="148" loading="lazy" class="broadcasts__item-img">
      </div>
      <div class="broadcasts__item-content-wrapper">
        <div class="broadcasts__item-info-wrapper">
          <h3 class="broadcasts__item-title">Живые мысли</h3>
          <span class="broadcasts__item-schedule">
            По воскресеньям в
            <time datetime="15:30"> 15:30</time>
          </span>
        </div>
        <a href="#" class="broadcasts__item-link">
          Подробнее
          <svg class="broadcasts__item-link-arrow-svg" width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="broadcasts__item-link-arrow-svg-path" d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z" fill="var(--text-color-primary)"/>
          </svg>
        </a>
      </div>
    </article>
  </li>
</ul>
