<section class="playlists">
  <div class="container playlists__container">
    <div class="playlists__info-block">
      <h2 id="#playlists" class="playlists__title">Плейлисты</h2>
      <div class="playlists__legal-info">
        <p class="playlists__legal-info-paragraph">Раздел &laquo;Плейлисты&raquo; может содержать информацию, не&nbsp;предназначенную для несовершеннолетних</p>
        <span class="playlists__legal-info-copyright">&copy;&nbsp;2021&nbsp;| W-Wave</span>
        <span class="playlists__legal-info-age-rating">18+</span>
      </div>
    </div>
    <ul class="playlists__list">
      <li class="playlists__li">
        <a href="#" class="playlists__item-wrapper-link">
          <article class="playlists__item">
            <div class="playlists__item-flag-img-container">
              <img src="<%= require('./russia_flag.svg') %>" alt="Флаг России" width="16" height="12" loading="lazy" class="playlists__item-flag-img">
            </div>
            <div class="playlists__item-band-img-container">
              <img src="<%= require('./playlist_1.webp') %>" alt="Фото музыкальной группы Ploho" width="160" height="160" loading="lazy" class="playlists__item-band-img">
            </div>
            <div class="playlists__item-info-wrapper">
              <h3 class="playlists__item-title">Ploho</h3>
              <p class="playlists__item-desc">3&nbsp;последних альбома</p>
            </div>
          </article>
        </a>
      </li>
      <li class="playlists__li">
        <a href="#" class="playlists__item-wrapper-link">
          <article class="playlists__item">
            <div class="playlists__item-flag-img-container">
              <img src="<%= require('./russia_flag.svg') %>" alt="Флаг России" width="16" height="12" loading="lazy" class="playlists__item-flag-img">
            </div>
            <div class="playlists__item-band-img-container">
              <img src="<%= require('./playlist_2.webp') %>" alt="Фото музыкальной группы Molchat Doma" width="160" height="160" loading="lazy" class="playlists__item-band-img">
            </div>
            <div class="playlists__item-info-wrapper">
              <h3 class="playlists__item-title">Molchat Doma</h3>
              <p class="playlists__item-desc">Все песни</p>
            </div>
          </article>
        </a>
      </li>
      <li class="playlists__li">
        <a href="#" class="playlists__item-wrapper-link">
          <article class="playlists__item">
            <div class="playlists__item-flag-img-container">
              <img src="<%= require('./russia_flag.svg') %>" alt="Флаг России" width="16" height="12" loading="lazy" class="playlists__item-flag-img">
            </div>
            <div class="playlists__item-band-img-container">
              <img src="<%= require('./playlist_3.webp') %>" alt="Фото музыкальной группы Motorama" width="160" height="160" loading="lazy" class="playlists__item-band-img">
            </div>
            <div class="playlists__item-info-wrapper">
              <h3 class="playlists__item-title">Motorama</h3>
              <p class="playlists__item-desc">Все синглы</p>
            </div>
          </article>
        </a>
      </li>
      <li class="playlists__li">
        <a href="#" class="playlists__item-wrapper-link">
          <article class="playlists__item">
            <div class="playlists__item-flag-img-container">
              <img src="<%= require('./russia_flag.svg') %>" alt="Флаг России" width="16" height="12" loading="lazy" class="playlists__item-flag-img">
            </div>
            <div class="playlists__item-band-img-container">
              <img src="<%= require('./playlist_4.webp') %>" alt="Фото музыкальной группы Human Tetris" width="160" height="160" loading="lazy" class="playlists__item-band-img">
            </div>
            <div class="playlists__item-info-wrapper">
              <h3 class="playlists__item-title">Human Tetris</h3>
              <p class="playlists__item-desc">3&nbsp;последних альбома</p>
            </div>
          </article>
        </a>
      </li>
      <li class="playlists__li">
        <a href="#" class="playlists__item-wrapper-link">
          <article class="playlists__item">
            <div class="playlists__item-flag-img-container">
              <img src="<%= require('./russia_flag.svg') %>" alt="Флаг России" width="16" height="12" loading="lazy" class="playlists__item-flag-img">
            </div>
            <div class="playlists__item-band-img-container">
              <img src="<%= require('./playlist_5.webp') %>" alt="Фото музыкальной группы Буерак" width="160" height="160" loading="lazy" class="playlists__item-band-img">
            </div>
            <div class="playlists__item-info-wrapper">
              <h3 class="playlists__item-title">Буерак</h3>
              <p class="playlists__item-desc">Все&nbsp;EP</p>
            </div>
          </article>
        </a>
      </li>
      <li class="playlists__li">
        <a href="#" class="playlists__item-wrapper-link">
          <article class="playlists__item">
            <div class="playlists__item-flag-img-container">
              <img src="<%= require('./russia_flag.svg') %>" alt="Флаг России" width="16" height="12" loading="lazy" class="playlists__item-flag-img">
            </div>
            <div class="playlists__item-band-img-container">
              <img src="<%= require('./playlist_6.webp') %>" alt="Фото музыкальной группы Июльские Дни" width="160" height="160" loading="lazy" class="playlists__item-band-img">
            </div>
            <div class="playlists__item-info-wrapper">
              <h3 class="playlists__item-title">Июльские Дни</h3>
              <p class="playlists__item-desc">Альбом &laquo;Колокол&raquo;</p>
            </div>
          </article>
        </a>
      </li>
      <li class="playlists__li">
        <a href="#" class="playlists__item-wrapper-link">
          <article class="playlists__item">
            <div class="playlists__item-flag-img-container">
              <img src="<%= require('./uk_flag.svg') %>" alt="Флаг Великобритании" width="24" height="12" loading="lazy" class="playlists__item-flag-img">
            </div>
            <div class="playlists__item-band-img-container">
              <img src="<%= require('./playlist_7.webp') %>" alt="Фото музыкальной группы Joy Division" width="160" height="160" loading="lazy" class="playlists__item-band-img">
            </div>
            <div class="playlists__item-info-wrapper">
              <h3 class="playlists__item-title">Joy Division</h3>
              <p class="playlists__item-desc">Лучшее за&nbsp;всё время</p>
            </div>
          </article>
        </a>
      </li>
      <li class="playlists__li">
        <a href="#" class="playlists__item-wrapper-link">
          <article class="playlists__item">
            <div class="playlists__item-flag-img-container">
              <img src="<%= require('./uk_flag.svg') %>" alt="Флаг Великобритании" width="24" height="12" loading="lazy" class="playlists__item-flag-img">
            </div>
            <div class="playlists__item-band-img-container">
              <img src="<%= require('./playlist_8.webp') %>" alt="Фото музыкальной группы The Cure" width="160" height="160" loading="lazy" class="playlists__item-band-img">
            </div>
            <div class="playlists__item-info-wrapper">
              <h3 class="playlists__item-title">The Cure</h3>
              <p class="playlists__item-desc">Лучшее за&nbsp;всё время</p>
            </div>
          </article>
        </a>
      </li>
      <li class="playlists__li">
        <a href="#" class="playlists__item-wrapper-link">
          <article class="playlists__item">
            <div class="playlists__item-flag-img-container">
              <img src="<%= require('./uk_flag.svg') %>" alt="Флаг Великобритании" width="24" height="12" loading="lazy" class="playlists__item-flag-img">
            </div>
            <div class="playlists__item-band-img-container">
              <img src="<%= require('./playlist_9.webp') %>" alt="Фото музыкальной группы The Smiths" width="160" height="160" loading="lazy" class="playlists__item-band-img">
            </div>
            <div class="playlists__item-info-wrapper">
              <h3 class="playlists__item-title">The Smiths</h3>
              <p class="playlists__item-desc">Период 1984&ndash;1988</p>
            </div>
          </article>
        </a>
      </li>
      <li class="playlists__li">
        <a href="#" class="playlists__item-wrapper-link">
          <article class="playlists__item">
            <div class="playlists__item-flag-img-container">
              <img src="<%= require('./uk_flag.svg') %>" alt="Флаг Великобритании" width="24" height="12" loading="lazy" class="playlists__item-flag-img">
            </div>
            <div class="playlists__item-band-img-container">
              <img src="<%= require('./playlist_10.webp') %>" alt="Фото музыкальной группы New Order" width="160" height="160" loading="lazy" class="playlists__item-band-img">
            </div>
            <div class="playlists__item-info-wrapper">
              <h3 class="playlists__item-title">New Order</h3>
              <p class="playlists__item-desc">Хиты</p>
            </div>
          </article>
        </a>
      </li>
      <li class="playlists__li">
        <a href="#" class="playlists__item-wrapper-link">
          <article class="playlists__item">
            <div class="playlists__item-flag-img-container">
              <img src="<%= require('./uk_flag.svg') %>" alt="Флаг Великобритании" width="24" height="12" loading="lazy" class="playlists__item-flag-img">
            </div>
            <div class="playlists__item-band-img-container">
              <img src="<%= require('./playlist_11.webp') %>" alt="Фото музыкальной группы Bauhaus" width="160" height="160" loading="lazy" class="playlists__item-band-img">
            </div>
            <div class="playlists__item-info-wrapper">
              <h3 class="playlists__item-title">Bauhaus</h3>
              <p class="playlists__item-desc">Все синглы</p>
            </div>
          </article>
        </a>
      </li>
      <li class="playlists__li">
        <a href="#" class="playlists__item-wrapper-link">
          <article class="playlists__item">
            <div class="playlists__item-flag-img-container">
              <img src="<%= require('./uk_flag.svg') %>" alt="Флаг Великобритании" width="24" height="12" loading="lazy" class="playlists__item-flag-img">
            </div>
            <div class="playlists__item-band-img-container">
              <img src="<%= require('./playlist_12.webp') %>" alt="Фото музыкальной группы Gang Of Four" width="160" height="160" loading="lazy" class="playlists__item-band-img">
            </div>
            <div class="playlists__item-info-wrapper">
              <h3 class="playlists__item-title">Gang Of&nbsp;Four</h3>
              <p class="playlists__item-desc">3&nbsp;последних альбома</p>
            </div>
          </article>
        </a>
      </li>
    </ul>
  </div>
</section>
