<section class="advertisement">
  <div class="container advertisement__container">
    <%= require('./__item/advertisement__item.ejs')() %>
    <div class="advertisement__text-wrapper">
      <%= require('./__title/advertisement__title.ejs')() %>
      <%= require('./__paragraph/advertisement__paragraph.ejs')() %>
      <%= require('./__price/advertisement__price.ejs')() %>
      <%= require('./__product-link/advertisement__product-link.ejs')() %>
    </div>
  </div>
</section>
