<main class="main">
  <%= require('../hero/hero.ejs')() %>
  <%= require('../podcasts/podcasts.ejs')() %>
  <%= require('../broadcasts/broadcasts.ejs')() %>
  <%= require('../guests/guests.ejs')() %>
  <%= require('../playlists/playlists.ejs')() %>
  <%= require('../advertisement/advertisement.ejs')() %>
  <%= require('../about-us/about-us.ejs')() %>
</main>
