<ul class="podcasts__list">
  <li class="podcasts__li">
    <a href="#" class="podcasts__item-wrapper-link">
      <article class="podcasts__item">
        <div class="podcasts__item-img-container">
          <img src="<%= require('./podcast_1.webp') %>" width="256" height="177" alt="" loading="lazy" class="podcasts__item-img">
        </div>
        <time datetime="2023-06-14" class="podcasts__item-schedule">14&nbsp;июня</time>
        <time datetime="PT15M43S" class="podcasts__item-duration">15:43</time>
        <h3 class="podcasts__item-title">Европа. XIX век</h3>
        <span class="podcasts__item-author">Дмитрий Гутенберг</span>
      </article>
    </a>
  </li>
  <li class="podcasts__li">
    <a href="#" class="podcasts__item-wrapper-link">
      <article class="podcasts__item">
        <div class="podcasts__item-img-container">
          <img src="<%= require('./podcast_2.webp') %>" width="640" height="640" alt="" loading="lazy" class="podcasts__item-img">
        </div>
        <time datetime="2023-06-11" class="podcasts__item-schedule">11&nbsp;июня</time>
        <time datetime="PT5M32S" class="podcasts__item-duration">5:32</time>
        <h3 class="podcasts__item-title">О&nbsp;музыке</h3>
        <span class="podcasts__item-author">Дмитрий Гутенберг</span>
      </article>
    </a>
  </li>
  <li class="podcasts__li">
    <a href="#" class="podcasts__item-wrapper-link">
      <article class="podcasts__item">
        <div class="podcasts__item-img-container">
          <img src="<%= require('./podcast_3.webp') %>" width="328" height="140" alt="" loading="lazy" class="podcasts__item-img">
        </div>
        <time datetime="2023-06-08" class="podcasts__item-schedule">8&nbsp;июня</time>
        <time datetime="PT8M54S" class="podcasts__item-duration">8:54</time>
        <h3 class="podcasts__item-title">Люди сегодня</h3>
        <span class="podcasts__item-author">Анна Васильева</span>
      </article>
    </a>
  </li>
  <li class="podcasts__li">
    <a href="#" class="podcasts__item-wrapper-link">
      <article class="podcasts__item">
        <div class="podcasts__item-img-container">
          <img src="<%= require('./podcast_4.webp') %>" width="640" height="425" alt="" loading="lazy" class="podcasts__item-img">
        </div>
        <time datetime="2023-06-05" class="podcasts__item-schedule">5&nbsp;июня</time>
        <time datetime="PT9M04S" class="podcasts__item-duration">9:04</time>
        <h3 class="podcasts__item-title">Хэллоу, Африка!</h3>
        <span class="podcasts__item-author">Пётр Дмитриевский</span>
      </article>
    </a>
  </li>
  <li class="podcasts__li">
    <a href="#" class="podcasts__item-wrapper-link">
      <article class="podcasts__item">
        <div class="podcasts__item-img-container">
          <img src="<%= require('./podcast_5.webp') %>" width="640" height="427" alt="" loading="lazy" class="podcasts__item-img">
        </div>
        <time datetime="2023-06-02" class="podcasts__item-schedule">2&nbsp;июня</time>
        <time datetime="PT7M03S" class="podcasts__item-duration">7:03</time>
        <h3 class="podcasts__item-title">Обо всём</h3>
        <span class="podcasts__item-author">Пётр Дмитриевский</span>
      </article>
    </a>
  </li>
  <li class="podcasts__li">
    <a href="#" class="podcasts__item-wrapper-link">
      <article class="podcasts__item">
        <div class="podcasts__item-img-container">
          <img src="<%= require('./podcast_6.webp') %>" width="112" height="140" alt="" loading="lazy" class="podcasts__item-img">
        </div>
        <time datetime="2023-05-28" class="podcasts__item-schedule">28&nbsp;мая</time>
        <time datetime="PT9M15S" class="podcasts__item-duration">9:15</time>
        <h3 class="podcasts__item-title">Физика цвета</h3>
        <span class="podcasts__item-author">Татьяна Флеганова</span>
      </article>
    </a>
  </li>
  <li class="podcasts__li">
    <a href="#" class="podcasts__item-wrapper-link">
      <article class="podcasts__item">
        <div class="podcasts__item-img-container">
          <img src="<%= require('./podcast_7.webp') %>" width="274" height="140" alt="" loading="lazy" class="podcasts__item-img">
        </div>
        <time datetime="2023-05-22" class="podcasts__item-schedule">22&nbsp;мая</time>
        <time datetime="PT16M04S" class="podcasts__item-duration">16:04</time>
        <h3 class="podcasts__item-title">Источник звука</h3>
        <span class="podcasts__item-author">Пётр Дмитриевский</span>
      </article>
    </a>
  </li>
  <li class="podcasts__li">
    <a href="#" class="podcasts__item-wrapper-link">
      <article class="podcasts__item">
        <div class="podcasts__item-img-container">
          <img src="<%= require('./podcast_8.webp') %>" width="256" height="192" alt="" loading="lazy" class="podcasts__item-img">
        </div>
        <time datetime="2023-05-18" class="podcasts__item-schedule">18&nbsp;мая</time>
        <time datetime="PT6M55S" class="podcasts__item-duration">6:55</time>
        <h3 class="podcasts__item-title">Правила этикета</h3>
        <span class="podcasts__item-author">Татьяна Флеганова</span>
      </article>
    </a>
  </li>
</ul>
